#carousel {
    display: flex;
    justify-content: center;
    height: 380px;
    padding-top:40px;
    background-color:pink;
}

.carousel-img {
    width: 45%;
    height: 80%;  
}

.carousel-img:hover {
    width: 49%;
    height: 86%;
}
